.modalBackdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.modalContent {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 580px;
    height: 550px;
}

.loginTitle {
    color: black;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-left: 48px;
    margin-top: 85px;
    margin-bottom: 30px;
}

.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

.formGroup {
    margin-bottom: 16px;
    border-radius: 10px;
    border: 1px solid #ACABAB;
}

.forgotPassword {
    text-align: right;
    margin-bottom: 16px;
    color: black;
    font-size: 16px;
    font-family: 'Inter', sans-serif;

}

.forgotPassword:hover {
    text-decoration: underline;

}

.buttonBasic {
    padding: 8px 16px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    background-color: #22276C;
    width: 164px;
    height: 50px;

    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
.buttonBasic:hover {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}

.signupSection {
    display: flex;
    justify-content: center;
    align-items: center;
}

.signUpText {
    color: black;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    margin-top: 30px;
    padding-right: 2px;
    padding-left: 2px;
}
.signUpLink {
    color: black;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    margin-top: 30px;
    padding-right: 2px;
    padding-left: 2px;
}

.signUpLink:hover {
    text-decoration: underline;
}


/* signup modal */

.accountTypeContainer {
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin-top: 20px;
    width: 456px;
    
}

.accountType {
    background-color: #22276C;
    width: 199px;
    height: 144px;
    border-radius: 10px;
    border: 1px solid #ACABAB;
    margin-bottom: 55px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.accountDesc {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
}

.textBasic {
    color: white;
    font-size: 24px;
    font-family: 'Inter', sans-serif;
}